# Compiled Object files
*.slo
*.lo
*.o
*~*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#my restrictions
*.log
*.jar
*.jad
*.pyc
!.gitignore

# Untracked files:
name_file.extension

# Untracked folders:
*__pycache__/*
