<!DOCTYPE html>
<html lang="es">



  <!-- ARCHIVO BASE -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}block title{% endblock title %} | Materialize - Material Design Admin Template</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!---->

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>
    <!---->

    <!-- Header Block -->
    {% block header %}
    <h3>block header</h3>
    {% endblock header %}
    <!---->
  </head>

  <body>

    <!-- NavBar Block -->
    <nav>
      <div class="nav-wrapper #00c853 green accent-4">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Universidad Nacional</a>
        <ul class="right hide-on-med-and-down">
        </ul>
      </div>
    </nav>
    <!---->

    {% block content %}
    <h4>block content</h4>
    {% endblock content %}


   <!-- recibiendo mensajes -> Cliente a través de la función message -->
   {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}

      {% from "_macro.html" import render_message %}
      {{ render_message( message ) }}

      {% endfor %}
    {% endif %}
   {% endwith %}
   <!--  -->


    <!-- jquery Library before materializeJS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!---->
    <!-- MaterializeJS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <!---->

    {% block extrajs %}
    block extrajs
    {% endblock extrajs %}

  </body>
</html>
